<!DOCTYPE html>

<html lang="ru-RU" itemscope itemtype="http://schema.org/WebPage"
      prefix="og: http://ogp.me/ns#
	          fb: http://ogp.me/ns/fb#
	          book: http://ogp.me/ns/book#
	          video: http://ogp.me/ns/video#
	          ya: http://webmaster.yandex.ru/vocabularies/">

<vc:head page-id="@Model.PageNumber" image-name="@Model.PageImage"></vc:head>

<body>

    <div class="container-fluid container-fluid-1920">

        @await Html.PartialAsync("_TeaserTopPartial")

        <hr class="liniya" />

        @await Html.PartialAsync("_NavPartial")

        <div class="row text-center bg-light">

            <div class="col d-none d-sm-inline-block bg-image @ViewData["BackgroundLeft"]"></div>

            <main role="main" itemprop="mainContentOfPage" class="col-12 col-sm-9 pb-3 text-center shadw">

                <div class="container-fluid">

                    @RenderBody()

                </div>

            </main>

            <div class="col d-none d-sm-flex bg-image @ViewData["BackgroundRight"]"></div>

        </div>

        <hr class="liniya" />

        @await Html.PartialAsync("_FooterPartial")

        @await Html.PartialAsync("_ScriptsPartial")

        @await Html.PartialAsync("_TeaserBottomPartial")

    </div>

    @await RenderSectionAsync("JScripts", required: false)

</body>

</html>