@model Site.Models.ImageModel

<span itemscope itemtype="http://schema.org/ImageObject">

    <meta itemprop="name" content="@Model.ImageName2" />

    <meta itemprop="caption" content="@Model.ImageCaption" />

    <meta itemprop="description" content="@Model.ImageDescription" />

    <link itemprop="contentUrl" href="@Model.ImageContentUrl" />

    <link itemprop="thumbnailUrl" href="@Model.ImageThumbnailUrl" />

    <meta itemprop="width" content="@Model.ImageWidth px" />

    <meta itemprop="height" content="@Model.ImageHeight px" />

    <img itemprop="image" class="@ViewData["CssClass"]" asp-append-version="true"
         src="@Model.ImageSrc" alt="@Model.ImageAlt" title="@Model.ImageTitle" />

</span>