@model Site.Models.ImageModel

<span itemscope itemtype="http://schema.org/ImageObject">

    <meta itemprop="caption" content="@Model.ImageCaption" />

    <link itemprop="contentUrl" href="@Model.ImageContentUrl" />

    <link itemprop="thumbnailUrl" href="@Model.ImageThumbnailUrl" />

    <link itemprop="image" href="@Model.ImageContentUrl" />

    <meta itemprop="width" content="@Model.ImageWidth px" />

    <meta itemprop="height" content="@Model.ImageHeight px" />

    <img class="@ViewData["CssClass"]" asp-append-version="true"
            src="@Model.ImageSrc"
            alt="@Model.ImageAlt"
            title="@Model.ImageTitle" />

</span>