@model Site.Models.ImageModel

@if ((bool)ViewData["ImageIcon"])

{
<span itemscope itemtype="http://schema.org/ImageObject">

    <meta itemprop="name" content="@Model.ImageCaption" />

    <meta itemprop="caption" content="@Model.ImageCaption" />

    <meta itemprop="description" content="@Model.ImageDescription" />

    <link itemprop="contentUrl" href="@Model.ImageThumbnailUrl" />

    <link itemprop="thumbnailUrl" href="@Model.ImageThumbnailUrl" />

    <meta itemprop="width" content="@Model.ImageThumbnailWidth px" />

    <meta itemprop="height" content="@Model.ImageThumbnailHeight px" />

    <img itemprop="image" class="@ViewData["CssClass"]" src="@Model.ImageThumbnailUrl.LocalPath" asp-append-version="true" alt="@Model.ImageAlt" title="@Model.ImageAlt" />

</span>
}
else
{
    <span itemscope itemtype="http://schema.org/ImageObject">

        <meta itemprop="name" content="@Model.ImageCaption" />

        <meta itemprop="caption" content="@Model.ImageCaption" />

        <meta itemprop="description" content="@Model.ImageDescription" />

        <link itemprop="contentUrl" href="@Model.ImageContentUrl" />

        <link itemprop="thumbnailUrl" href="@Model.ImageThumbnailUrl" />

        <meta itemprop="width" content="@Model.ImageWidth px" />

        <meta itemprop="height" content="@Model.ImageHeight px" />

        <img itemprop="image" class="@ViewData["CssClass"]" src="@Model.ImageContentUrl.LocalPath" asp-append-version="true" alt="@Model.ImageAlt" title="@Model.ImageAlt" />

    </span>
}