@model Site.Models.CardModel

<div class="col">

    <div class="card shadw rounded-3">

        @{
            bool cnt = Model.CardLink.Contains("http");
        }

        @if (cnt)
        {
            <a href="@Model.CardLink">

                @if (!(Model.MovieName == string.Empty))
                {
                    <vc:movie movie-name="@Model.MovieName" />
                }
                else
                {
                    <vc:image image-name="@Model.ImageName" />
                }


                @if (Model.CardBody)
                {
                    <div class="card-body p-0 mt-2 shadw cardBodyBg">

                        <p class="card-title fs-4 lh-1 mt-2">@Model.CardText</p>

                    </div>
                }

            </a>
        }
        else
        {
            <a asp-page="@Model.CardLink">

                @if (!(Model.MovieName == string.Empty))
                {
                    <vc:movie movie-name="@Model.MovieName" />
                }
                else
                {
                    <vc:image image-name="@Model.ImageName" />
                }

                @if (Model.CardBody)
                {
                    <div class="card-body p-0 mt-2 shadw cardBodyBg">

                        <p class="card-title fs-4 lh-1 mt-2">@Model.CardText</p>

                    </div>
                }

            </a>
        }

    </div>

</div>

