@model Site.Models.CardModel
@{
}

<div class="col">

    <div class="card shadw rounded-3 cardborder">

        @if (Model.CardLink.Contains("http"))
        {
            <a href="@Model.CardLink" itemprop="url">

                @if (Model.CardMovie)
                {
                    <vc:movie movie-name="@Model.MovieName" />
                }
                else
                {
                    <vc:image image-name="@Model.ImageModel.ImageName" css-class="card-img-top shadw rounded-3" />
                }

                @if (Model.CardBody)
                {
                    <div class="card-body p-0 mt-2 shadw cardBodyBg">

                        <p class="card-title fs-6 lh-1 my-1 mt-2">@Model.CardText</p>

                    </div>
                }

            </a>
        }
        else
        {
            <a asp-page="@Model.CardLink" itemprop="url">

                @if (Model.CardMovie)
                {
                    <vc:movie movie-name="@Model.MovieName" />
                }
                else
                {
                    <vc:image image-name="@Model.ImageModel.ImageName" css-class="card-img-top shadw rounded-3" />
                }

                @if (Model.CardBody)
                {
                    <div class="card-body p-0 mt-2 shadw cardBodyBg">

                        <p class="card-title fs-6 lh-1 my-1 mt-2">@Model.CardText</p>

                    </div>
                }

            </a>
        }

    </div>

</div>