@model Site.Models.CardModel

<div class="card ms-sm-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" href="@Model.CardLink" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="@Model.ImageCaption" />
        <link itemprop="contentUrl" href="@Model.ImageContentUrl" />
        <link itemprop="thumbnailUrl" href="@Model.ImageThumbnailUrl" />
        <link itemprop="image" href="@Model.ImagelUrl" />
        <meta itemprop="width" content="@Model.ImageWidth" />
        <meta itemprop="height" content="@Model.ImageHeight" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="@Model.ImageSrc"
             alt="@Model.ImageAlt"
             title="@Model.ImageTitle" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2">@Model.CardText</p>
        </div>
    </a>
</div>