@model Site.Models.MovieModel

<span itemscope itemtype="http://schema.org/VideoObject">

    <meta itemprop="caption" content="@Model.MovieCaption" />
    <meta itemprop="duration" content="@Model.Duration" />
    <meta itemprop="datePublished" content="@Model.DatePublished" />
    <meta itemprop="dateCreated" content="@Model.DateCreated" />
    <meta itemprop="uploadDate" content="@Model.UploadDate" />
    <meta itemprop="isFamilyFriendly" content="@Model.IsFamilyFriendly" />
    <meta itemprop="inLanguage" content="@Model.InLanguage" />
    <meta itemprop="productionCompany" content="@Model.РroductionCompany" />
    <meta itemprop="director" content="@Model.Director" />
    <meta itemprop="musicBy" content="@Model.MusicBy" />
    <meta itemprop="genre" content="@Model.Genre" />
    <meta itemprop="actor" content="@Model.Actor01" />
    <meta itemprop="actor" content="@Model.Actor02" />
    <meta itemprop="actor" content="@Model.Actor03" />
    <meta itemprop="actor" content="@Model.Actor04" />
    <meta itemprop="actor" content="@Model.Actor05" />
    <meta itemprop="actor" content="@Model.Actor06" />
    <meta itemprop="actor" content="@Model.Actor07" />
    <meta itemprop="actor" content="@Model.Actor08" />
    <meta itemprop="actor" content="@Model.Actor09" />
    <meta itemprop="actor" content="@Model.Actor10" />
    <meta itemprop="description" content="@Model.Description" />
    <link itemprop="contentUrl" href="@Model.ContentUrl" />

    <vc:image image-name="@Model.ImageName" css-class="card-img-top shadw rounded-3" />

</span>

