@page
@model DetailsImageModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Параметры картинки</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-footer px-0">
                <a asp-page="UpdateImage" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-success mt-1 shadw">Edit</a>
                <a asp-page="DeleteImage" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-danger mt-1 shadw">Delete</a>
                <a asp-page="ViewImages" class="btn btn-outline-primary mt-1 shadw">Images</a>
            </div>

            <vc:image image-name="@Model.Image.ImageName" css-class="card-img-top shadw" />

            <hr class="liniya" />

            <div class="card-body mx-0 px-0">

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageID</span><br />
                        <span id="ImageID" class="fs-5">@Model.Image.ImageId</span><br />
                        <span id="ImageIDHelpBlock" class="form-text">
                            идентификатор в базе данных
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageName</span><br />
                        <span id="ImageName" class="fs-5">@Model.Image.ImageName</span><br />
                        <span id="ImageNameHelpBlock" class="form-text">
                            параметр «image-name» для ViewComponent
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageName2</span><br />
                        <span id="ImageName2" class="fs-5">@Model.Image.ImageName2</span><br />
                        <span id="ImageName2HelpBlock" class="form-text">
                            параметр «name» для Microdata
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageCaption</span><br />
                        <span id="ImageCaption" class="fs-5">@Model.Image.ImageCaption</span><br />
                        <span id="ImageCaptionHelpBlock" class="form-text">
                            параметр «caption» для Microdata
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageDescription</span><br />
                        <span id="ImageDescription" class="fs-5">@Model.Image.ImageDescription</span><br />
                        <span id="ImageDescriptionHelpBlock" class="form-text">
                            параметр «description» для Microdata
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageContentUrl</span><br />
                        <span id="ImageContentUrl" class="fs-5">@Model.Image.ImageContentUrl</span><br />
                        <span id="ImageContentUrlHelpBlock" class="form-text">
                            параметр «contentUrl» для Microdata
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageThumbnailUrl</span><br />
                        <span id="ImageThumbnailUrl" class="fs-5">@Model.Image.ImageThumbnailUrl</span><br />
                        <span id="ImageThumbnailUrlHelpBlock" class="form-text">
                            параметр «thumbnailUrl» для Microdata
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageWidth</span><br />
                        <span id="ImageWidth" class="fs-5">@Model.Image.ImageWidth</span><br />
                        <span id="ImageWidthHelpBlock" class="form-text">
                            ширина картинки в px
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageHeight</span><br />
                        <span id="ImageHeight" class="fs-5">@Model.Image.ImageHeight</span><br />
                        <span id="ImageHeightHelpBlock" class="form-text">
                            высота картинки в px
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageSrc</span><br />
                        <span id="ImageSrc" class="fs-5">@Model.Image.ImageSrc</span><br />
                        <span id="ImageSrcHelpBlock" class="form-text">
                            путь к картинке на сайте
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageAlt</span><br />
                        <span id="ImageAlt" class="fs-5">@Model.Image.ImageAlt</span><br />
                        <span id="ImageAltHelpBlock" class="form-text">
                            параметр «alt» для тега «img»
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageTitle</span><br />
                        <span id="ImageTitle" class="fs-5">@Model.Image.ImageTitle</span><br />
                        <span id="ImageTitleHelpBlock" class="form-text">
                            параметр «title» для тега «img»
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageType</span><br />
                        <span id="ImageType" class="fs-5">@Model.Image.ImageType</span><br />
                        <span id="ImageTypeHelpBlock" class="form-text">
                            тип изображения (расширение файла)
                        </span>
                    </li>

                </ul>

            </div>

            <div class="card-footer px-0">
                <a asp-page="UpdateImage" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-success mt-1 shadw">Edit</a>
                <a asp-page="DeleteImage" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-danger mt-1 shadw">Delete</a>
                <a asp-page="ViewImages" class="btn btn-outline-primary mt-1 shadw">Images</a>
            </div>

        </div>

    </div>

</div>