@page "{PageNumber=17}/{**data}"
@model Site.Pages.DBCRUD.DetailsMovieModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Информация о фильме<br />@Model.Movie.MovieCaption</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-footer px-0">
                <a asp-page="UpdateMovie" asp-route-movieid="@Model.Movie.MovieId" class="btn btn-outline-success mt-1 shadw">Edit</a>
                <a asp-page="DeleteMovie" asp-route-movieid="@Model.Movie.MovieId" class="btn btn-outline-danger mt-1 shadw">Delete</a>
                <a asp-page="ViewMovies" class="btn btn-outline-primary mt-1 shadw">Movies</a>
            </div>

            <vc:image image-name="@Model.Movie.ImageName" css-class="card-img-top shadw" />

            <hr class="liniya" />

            <div class="card-body mx-0 px-0">

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageID</span><br />
                        <span id="MovieID" class="fs-5">@Model.Movie.MovieId</span><br />
                        <span id="MovieIDHelpBlock" class="form-text">
                            идентификатор в базе данных
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageName</span><br />
                        <span id="imageName" class="fs-5">@Model.Movie.ImageName</span><br />
                        <span id="imageNameHelpBlock" class="form-text">
                            параметр «image-name» для ViewComponent
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">MovieCaption</span><br />
                        <span id="MovieCaption" class="fs-5">@Model.Movie.MovieCaption</span><br />
                        <span id="MovieCaptionHelpBlock" class="form-text">
                            название фильма
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Description</span><br />
                        <span id="MovieDescription" class="fs-5">@Model.Movie.Description</span><br />
                        <span id="MovieDescriptionHelpBlock" class="form-text">
                            краткое содержание
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Duration</span><br />
                        <span id="MovieDuration" class="fs-5">@Model.Movie.Duration.ToString("'T'HH'H'mm'M'ss'S'")</span><br />
                        <span id="MovieDurationHelpBlock" class="form-text">
                            продолжительность фильма
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">DatePublished</span><br />
                        <span id="MovieDatePublished" class="fs-5">@Model.Movie.DatePublished.ToString("yyyy-MM-dd")</span><br />
                        <span id="MovieDatePublishedHelpBlock" class="form-text">
                            дата премьеры
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">DateCreated</span><br />
                        <span id="MovieDateCreated" class="fs-5">@Model.Movie.DateCreated.ToString("yyyy-MM-dd")</span><br />
                        <span id="MovieDateCreatedHelpBlock" class="form-text">
                            дата производства
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">UploadDate</span><br />
                        <span id="MovieUploadDate" class="fs-5">@Model.Movie.UploadDate.ToString("yyyy-MM-dd")</span><br />
                        <span id="" MovieUploadDateHelpBlock" class="form-text">
                            дата публикации на сайте
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">IsFamilyFriendly</span><br />
                        <span id="MovieIsFamilyFriendly" class="fs-5">@Model.Movie.IsFamilyFriendly</span><br />
                        <span id="MovieIsFamilyFriendlyHelpBlock" class="form-text">
                            нет ограничений для просмотра
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">InLanguage</span><br />
                        <span id="MovieInLanguage" class="fs-5">@Model.Movie.InLanguage</span><br />
                        <span id="MovieInLanguageHelpBlock" class="form-text">
                            язык звуковой дорожки
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">РroductionCompany</span><br />
                        <span id="MovieРroductionCompany" class="fs-5">@Model.Movie.РroductionCompany</span><br />
                        <span id="MovieРroductionCompanyHelpBlock" class="form-text">
                            название киностудии
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Director</span><br />
                        <span id="MovieDirector" class="fs-5">@Model.Movie.Director</span><br />
                        <span id="MovieDirectorHelpBlock" class="form-text">
                            режиссер
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">MusicBy</span><br />
                        <span id="MovieMusicBy" class="fs-5">@Model.Movie.MusicBy</span><br />
                        <span id="MovieMusicByHelpBlock" class="form-text">
                            композитор
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Genre</span><br />
                        <span id="MovieGenre" class="fs-5">@Model.Movie.Genre</span><br />
                        <span id="MovieGenreHelpBlock" class="form-text">
                            жанр
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ContentUrl</span><br />
                        <span id="MovieContentUrl" class="fs-5">@Model.Movie.ContentUrl</span><br />
                        <span id="MovieContentUrlBlock" class="form-text">
                            адрес файла фильма в интернете
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor01</span><br />
                        <span id="MovieActor01" class="fs-5">@Model.Movie.Actor01</span><br />
                        <span id="MovieActor01HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor02</span><br />
                        <span id="MovieActor02" class="fs-5">@Model.Movie.Actor02</span><br />
                        <span id="MovieActor02HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor03</span><br />
                        <span id="MovieActor03" class="fs-5">@Model.Movie.Actor03</span><br />
                        <span id="MovieActor03HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor04</span><br />
                        <span id="MovieActor04" class="fs-5">@Model.Movie.Actor04</span><br />
                        <span id="MovieActor04HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor05</span><br />
                        <span id="MovieActor05" class="fs-5">@Model.Movie.Actor05</span><br />
                        <span id="MovieActor05HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor06</span><br />
                        <span id="MovieActor06" class="fs-5">@Model.Movie.Actor06</span><br />
                        <span id="MovieActor06HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor07</span><br />
                        <span id="MovieActor07" class="fs-5">@Model.Movie.Actor07</span><br />
                        <span id="MovieActor07HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor08</span><br />
                        <span id="MovieActor08" class="fs-5">@Model.Movie.Actor08</span><br />
                        <span id="MovieActor08HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor09</span><br />
                        <span id="MovieActor09" class="fs-5">@Model.Movie.Actor09</span><br />
                        <span id="MovieActor09HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Actor10</span><br />
                        <span id="MovieActor10" class="fs-5">@Model.Movie.Actor10</span><br />
                        <span id="MovieActor10HelpBlock" class="form-text">
                            актер (актриса)
                        </span>
                    </li>
                </ul>

            </div>

            <div class="card-footer px-0">
                <a asp-page="UpdateMovie" asp-route-movieid="@Model.Movie.MovieId" class="btn btn-outline-success mt-1 shadw">Edit</a>
                <a asp-page="DeleteMovie" asp-route-movieid="@Model.Movie.MovieId" class="btn btn-outline-danger mt-1 shadw">Delete</a>
                <a asp-page="ViewMovies" class="btn btn-outline-primary mt-1 shadw">Movies</a>
            </div>

        </div>

    </div>

</div>