@page "{pageNumber=15}/{**data}"
@model Site.Pages.DBCRUD.DetailsPageModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Информация о странице №@Model.SitemapItem.PageNumber</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-footer px-0">
                <a asp-page="@Model.SitemapItem.Loc.ToString().Trim().Substring(24)" class="btn btn-outline-primary  mt-1 shadw">Run</a>
                <a asp-page="UpdatePage" asp-route-sitemapmodelid="@Model.SitemapItem.SitemapModelId" class="btn btn-outline-success mt-1 shadw">Edit</a>
                <a asp-page="DeletePage" asp-route-sitemapmodelid="@Model.SitemapItem.SitemapModelId" class="btn btn-outline-danger mt-1 shadw">Delete</a>
                <a asp-page="ViewPages" class="btn btn-outline-primary mt-1 shadw">Pages</a>
            </div>

            <hr class="liniya" />

            <vc:image image-name="@Model.SitemapItem.ImageModel.ImageName" css-class="card-img-top adp_img shadw" />

            <hr class="liniya" />

            <div class="card-body mx-0 px-0">

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">SitemapModelId</span><br />
                        <span id="SitemapModelId" class="fs-5">@Model.SitemapItem.SitemapModelId</span><br />
                        <span id="SitemapModelIdHelpBlock" class="form-text">
                            идентификатор в базе данных
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">PageNumber</span><br />
                        <span id="PageNumber" class="fs-5">@Model.SitemapItem.PageNumber</span><br />
                        <span id="PageNumberHelpBlock" class="form-text">
                            номер страницы
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Loc</span><br />
                        <span id="Loc" class="fs-5">@Model.SitemapItem.Loc</span><br />
                        <span id="LocHelpBlock" class="form-text">
                            адрес страницы
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Lastmod</span><br />
                        <span id="Lastmod" class="fs-5">@Model.SitemapItem.Lastmod</span><br />
                        <span id="LastmodHelpBlock" class="form-text">
                            дата последнего изменения
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Changefreq</span><br />
                        <span id="Changefreq" class="fs-5">@Model.SitemapItem.Changefreq</span><br />
                        <span id="ChangefreqHelpBlock" class="form-text">
                            частота изменения страницы
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Priority</span><br />
                        <span id="Priority" class="fs-5">@Model.SitemapItem.Priority</span><br />
                        <span id="PriorityHelpBlock" class="form-text">
                            значимость страницы ( от 0.0 до 1.0)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">LeftBackground</span><br />
                        <span id="LeftBackground" class="fs-5">@Model.SitemapItem.LeftBackground</span><br />
                        <span id="LeftBackgroundlHelpBlock" class="form-text">
                            фон страницы слева
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">RightBackground</span><br />
                        <span id="RightBackground" class="fs-5">@Model.SitemapItem.RightBackground</span><br />
                        <span id="RightBackgroundHelpBlock" class="form-text">
                            фон страницы справа
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Title</span><br />
                        <span id="Title" class="fs-5">@Model.SitemapItem.Title</span><br />
                        <span id="TitleHelpBlock" class="form-text">
                            заголовок страницы
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Description</span><br />
                        <span id="Description" class="fs-5">@Model.SitemapItem.Description</span><br />
                        <span id="DescriptionHelpBlock" class="form-text">
                            описание страницы
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">KeyWords</span><br />
                        <span id="KeyWords" class="fs-5">@Model.SitemapItem.KeyWords</span><br />
                        <span id="KeyWordsHelpBlock" class="form-text">
                            ключевые слова
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageModelImageId</span><br />
                        <span id="ImageModelImageId" class="fs-5">@Model.SitemapItem.ImageModelImageId</span><br />
                        <span id="ImageModelImageIdHelpBlock" class="form-text">
                            картинка для страницы GUID
                        </span>
                    </li>

                </ul>

            </div>

            <hr class="liniya" />

            <div class="card-footer px-0">
                <a asp-page="@Model.SitemapItem.Loc.ToString().Trim().Substring(24)" class="btn btn-outline-primary  mt-1 shadw">Run</a>
                <a asp-page="UpdatePage" asp-route-sitemapmodelid="@Model.SitemapItem.SitemapModelId" class="btn btn-outline-success mt-1 shadw">Edit</a>
                <a asp-page="DeletePage" asp-route-sitemapmodelid="@Model.SitemapItem.SitemapModelId" class="btn btn-outline-danger mt-1 shadw">Delete</a>
                <a asp-page="ViewPages" class="btn btn-outline-primary mt-1 shadw">Pages</a>
            </div>

        </div>

    </div>

</div>
