@page
@model DetailsImageModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Параметры картинки</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-footer px-0">

                <a asp-page="Image-Add-Update" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-success py-1 m-2 shadw">Edit</a>
                <a asp-page="Image-Delete" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-danger py-1 m-2 shadw">Delete</a>
                <a asp-page="Image-Icons" class="btn btn-outline-primary py-1 m-2 shadw">Images</a>

            </div>

            <p class="text-primary fs-4">КАРТИНКА (@Model.Image.ImageWidth x @Model.Image.ImageHeight)</p>

            <vc:image-by-id image-id="@Model.Image.ImageId" css-class="card-img-top m-2 width50percent shadw" image-icon="false" />

            @if (Model.Image.ImageContentUrl != Model.Image.ImageThumbnailUrl)
            {
                <hr class="liniya" />

                <p class="text-danger fs-4">ИКОНКА (@Model.Image.ImageThumbnailWidth x @Model.Image.ImageThumbnailHeight)</p>

                <vc:image-by-id image-id="@Model.Image.ImageId" css-class="card-img-top m-2 width50percent shadw" image-icon="true" />
            }

            <hr class="liniya" />

            <div class="card-body mx-0 px-0">

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageID&nbsp;:</span><br />
                        <span id="ImageID" class="fs-5">@Model.Image.ImageId</span><br />
                        <span id="ImageIDHelpBlock" class="form-text">
                            идентификатор в базе данных (GUID)
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageCaption&nbsp;:</span><br />
                        <span id="ImageCaption" class="fs-5">@Model.Image.ImageCaption</span><br />
                        <span id="ImageCaptionHelpBlock" class="form-text">
                            «caption» и «name» для Microdata
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageDescription&nbsp;:</span><br />
                        <span id="ImageDescription" class="fs-5">@Model.Image.ImageDescription</span><br />
                        <span id="ImageDescriptionHelpBlock" class="form-text">
                            «description» для Microdata
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageContentUrl&nbsp;:</span><br />
                        <span id="ImageContentUrl" class="fs-5">@Model.Image.ImageContentUrl</span><br />
                        <span id="ImageContentUrlHelpBlock" class="form-text">
                            «contentUrl» для Microdata
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageWidth&nbsp;:</span>
                        <span id="ImageWidth" class="fs-5">@Model.Image.ImageWidth</span><br />
                        <span id="ImageWidthHelpBlock" class="form-text">
                            ширина картинки в px
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageHeight&nbsp;:</span>
                        <span id="ImageHeight" class="fs-5">@Model.Image.ImageHeight</span><br />
                        <span id="ImageHeightHelpBlock" class="form-text">
                            высота картинки в px
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">ImageAlt&nbsp;:</span><br />
                        <span id="ImageAlt" class="fs-5">@Model.Image.ImageAlt</span><br />
                        <span id="ImageAltHelpBlock" class="form-text">
                            «alt» и «title» для тега «img»
                        </span>
                    </li>

                    <li><hr class="liniya" /></li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-danger">ImageThumbnailUrl&nbsp;:</span><br />
                        <span id="ImageThumbnailUrl" class="fs-5">@Model.Image.ImageThumbnailUrl</span><br />
                        <span id="ImageThumbnailUrlHelpBlock" class="form-text">
                            «thumbnailUrl» для Microdata
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-danger">ImageThumbnailWidth&nbsp;:</span>
                        <span id="ImageThumbnailWidth" class="fs-5">@Model.Image.ImageThumbnailWidth</span><br />
                        <span id="ImageThumbnailWidthHelpBlock" class="form-text">
                            ширина иконки в px
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-danger">ImageHeight&nbsp;:</span>
                        <span id="ImageThumbnailHeight" class="fs-5">@Model.Image.ImageThumbnailHeight</span><br />
                        <span id="ImageThumbnailHeightHelpBlock" class="form-text">
                            высота иконки в px
                        </span>
                    </li>

                </ul>

            </div>

            <div class="card-footer px-0">

                <a asp-page="Image-Add-Update" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-success py-1 m-2 shadw">Edit</a>
                <a asp-page="Image-Delete" asp-route-imageid="@Model.Image.ImageId" class="btn btn-outline-danger py-1 m-2 shadw">Delete</a>
                <a asp-page="Image-Icons" class="btn btn-outline-primary py-1 m-2 shadw">Images</a>

            </div>

        </div>

    </div>

</div>