@page
@model DeletePageModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Удалить страницу  №@Model.SitemapItem.PageNumber</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-body mx-0 px-0">

                <ul class="list-group list-group-flush text-center">

                    <vc:image-by-id image-id="@Model.SitemapItem.ImageModelImageId" css-class="width50percent ten mb-2" image-icon="false" />

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Loc&nbsp;:</span>
                        <span id="Loc" class="fs-6">@Model.SitemapItem.Loc</span><br />
                        <span id="LocHelpBlock" class="form-text">
                            адрес страницы (https://.....)
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Title&nbsp;:</span>
                        <span id="Title" class="fs-6">@Model.SitemapItem.Title</span><br />
                        <span id="TitleHelpBlock" class="form-text">
                            заголовок страницы
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold fs-5 text-primary">Lastmod&nbsp;:</span>
                        <span id="Lastmod" class="fs-6">@Model.SitemapItem.Lastmod.ToString("dd.MM.yyyy")</span><br />
                        <span id="LastmodHelpBlock" class="form-text">
                            дата последнего изменения
                        </span>
                    </li>

                </ul>

            </div>

        </div>

        <form method="post" asp-page-handler="OnPost" asp-route-sitemapmodelid="@Model.SitemapItem.SitemapModelId" class="mt-2">

            <button type="submit" class="btn btn-outline-danger me-2 shadw">Delete</button>
            <a asp-page="Page-List" class="btn btn-outline-success shadw">Cancel</a>

        </form>

    </div>

</div>