@page
@model ViewPagesModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col">

        <h1 class="text_shadow">Страницы сайта</h1>

        @if (Model.AllPages.Count() == 0)
        {
            <p class="fs-5">Нет данных</p>
        }
        else
        {
            <p class="fs-5">Количество страниц:&nbsp;@Model.AllPages.Count()</p>
        }

    </div>

</div>

<div class="row">

    <div class="col">
        <a asp-page="Page-Add-Update" class="btn btn btn-outline-danger shadw">ДОБАВИТЬ СТРАНИЦУ</a>
    </div>

</div>

<hr class="liniya" />

<div class="row">

    <div class="col">

        <div class="table-responsive">

            <table class="table table-sm table-hover caption-top align-middle">

                <thead>

                    <tr>
                        <th scope="col" title="Номер страницы"><span class="text-primary">№</span></th>
                        <th scope="col" class="text-start">Адрес</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var sitemapItem in Model.AllPages)
                    {
                    <tr>
                        <td scope="col"><span class="fw-bold text-primary">@sitemapItem.PageNumber</span></td>
                        <td scope="col" class="text-start">@sitemapItem.Loc.ToString().Substring(24)</td>
                        <td scope="col"><a asp-page="Page-Details" asp-route-sitemapmodelid="@sitemapItem.SitemapModelId" class="btn btn-outline-primary py-1 px-1 shadw" title="@sitemapItem.Title">Info</a></td>
                        <td scope="col"><a asp-page="Page-Add-Update" asp-route-sitemapmodelid="@sitemapItem.SitemapModelId" class="btn btn-outline-success py-1 px-1 shadw" title="Редактировать страницу">Edit</a></td>
                        <td scope="col"><a asp-page="Page-Delete" asp-route-sitemapmodelid="@sitemapItem.SitemapModelId" class="btn btn-outline-danger py-1 px-1 shadw" title="Удалить страницу">Del</a></td>
                        <td scope="col"><a asp-page="@sitemapItem.Loc.ToString().Substring(24)" class="btn btn-outline-primary py-1 px-1 shadw" title="Просмотр страницы">Run</a></td>
                    </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>